<!DOCTYPE html>
<html lang="en">

<head>
    <title>Flask Desktop Application</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
</head>

<body>
<form action="/" method="post">
    <div class="js_labels"></div>
    <button type="submit" class="js_submit btn btn-primary">Отправить</button>
</form>
</body>

<script>

var data = Array.from({length: 7}, () => Math.floor((Math.random() - 0.5) * 100));
var $labels = $('.js_labels');
var $submit = $('.js_submit');

data.forEach(function(item, i){
    var $el = $('<span>').attr("id", "label" + (i + 1)).html(item)
    $el.attr("class", (item > 0) ? "label label-success" : "label label-default")
    $labels.append($el)
});

$submit.on('click', function(e) {
    e.preventDefault();
    $.ajax({
        method: "POST",
        contentType: "application/json",
        data: JSON.stringify({data: data}),
    })
});

</script>

</html>
