<!DOCTYPE html>
<html lang="en">

<head>
    <title>Flask Desktop Application</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
</head>

<body>
<form action="/" method="post">
    <div class="js_labels"></div>
</form>
</body>

<script>
var data = []
var $labels = $('.js_labels');

function renderLabels(data) {
    $labels.html("");
    Object.keys(data).forEach(function(item, i){
        if (item.slice(0, 4) !== "auu_") return
        var value = data[item]
        var $el = $('<span>').attr("id", "label" + (i + 1)).html(value)
        $el.attr("class", (value === 1) ? "label label-success" : "label label-default")
        $labels.append($el)
    });
}

function fetchData() {
    $.ajax({
        url: "/data/",
        method: "GET",
        contentType: "application/json"
    }).done(renderLabels)
}

fetchData()
setInterval(fetchData, 5000)

</script>

</html>
